node_modules/
/backend/data/
/backend/.mvn/
/backend/.settings/
/backend/bin/
/backend/target/
/backend/.project
/backend/.classpath

/frontend/build/
/frontend/dist/

/example/*
!/example/mongo-app-groovy-scripts/
!/example/mongo-app-groovy-scripts/**

/deploy/

*.sqlite
config.0.js
setup.sh
